<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>

<div class="user">
  <div class="tech">
    <h2>Programming Languages</h2>
    <i class="devicon-python-plain-wordmark colored"></i>
    <img alt="r-lang" src="{{ "/assets/img/r-lang.svg" | prepend: site.baseurl }}"  width = "15%" />
    <i class="devicon-php-plain colored"></i>
    <img  alt="SQL" src="{{ "/assets/img/SQL.png" | prepend: site.baseurl }}"  width = "15%" />
  </div>
    
  <div class="tech">
    <h2>Data Wrangling</h2>
    <i class="devicon-pandas-original-wordmark colored"></i>
    <i class="devicon-mysql-plain-wordmark"></i>
    <i class="devicon-numpy-original-wordmark"></i>
    <i class="devicon-sqlite-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>

  </div>
  <div class="tech">
    <h2>Data Visualization</h2>
    <img  alt="microsoft-power-bi" src="{{ "/assets/img/microsoft-power-bi.svg" | prepend: site.baseurl }}"  width = "10%" />
    <img  alt="tableau-svgrepo-com" src="{{ "/assets/img/tableau-svgrepo-com.svg" | prepend: site.baseurl }}"  width = "25%" />
    <img  alt="google-data-studio" src="{{ "/assets/img/google-data-studio.svg" | prepend: site.baseurl }}"  width = "10%" />
    <img  alt="google-analytics" src="{{ "/assets/img/google-analytics.svg" | prepend: site.baseurl }}"  width = "10%" />
    <img  alt="seaborn" src="{{ "/assets/img/seaborn.svg" | prepend: site.baseurl }}"  width = "20%" />
    <img  alt="matplotlib-wordmark" src="{{ "/assets/img/matplotlib-wordmark.svg" | prepend: site.baseurl }}"  width = "20%" /> 
  </div>
</div>
