 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Programming Languages</h2>
    <i class="devicon-python-plain-wordmark"></i>
    <i class="devicon-go-original-wordmark"></i>
    <i class="devicon-php-plain"></i>
    <i class="devicon-r-original"></i>
    <i class="devicon-sqlite-plain-wordmark"></i>
    <i class="devicon-postgresql-plain-wordmark"></i>
    <i class="devicon-graphql-plain-wordmark"></i>
    <i class="devicon-bash-plain"></i>
  </div>
    <div class="tech">
      <h2>Data Wrangling</h2>
      <i class="devicon-pandas-original-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark"></i>
      <i class="devicon-numpy-original-wordmark"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <p></p
    </div>
    <div class="tech">
      <h2>Data Visualization<</h2>
      <img  src="microsoft-power-bi.svg"  width = "25%" />
      <img src="matplotlib-wordmark.svg"  width = "33%"/>
      <img src="seaborn.svg" width = "50%" />
      <img src="matplotlib-wordmark.svg"  width = "33%"/>
      <img src="microsoft-power-bi.svg"  width = "25%" />
      <img src="matplotlib-wordmark.svg"  width = "33%"/>
     
      <p></p>
    </div>
</div>
