<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="#"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="LinkedIn" target ="_blank" href ="https://www.linkedin.com/in/shril-patel-020504284/"><i class= "icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/ZeroZulu/"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="LeetCode" target="_blank" href="https://leetcode.com/Zerolol" class="icon-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 32 32" fill="#ffffff">
            <path d="m21.469 23.907l-3.595 3.473c-.624.625-1.484.885-2.432.885s-1.807-.26-2.432-.885l-5.776-5.812c-.62-.625-.937-1.537-.937-2.485c0-.952.317-1.812.937-2.432l5.76-5.844c.62-.619 1.5-.859 2.448-.859s1.808.26 2.432.885l3.595 3.473c.687.688 1.823.663 2.536-.052c.708-.713.735-1.848.047-2.536l-3.473-3.511a6.793 6.793 0 0 0-3.261-1.787l3.287-3.333c.688-.687.667-1.823-.047-2.536s-1.849-.735-2.536-.052L4.553 13.968c-1.307 1.312-1.989 3.113-1.989 5.113c0 1.996.683 3.86 1.989 5.168l5.797 5.812c1.307 1.307 3.115 1.937 5.115 1.937c1.995 0 3.801-.683 5.109-1.989l3.479-3.521c.688-.683.661-1.817-.052-2.531s-1.849-.74-2.531-.052zm6.28-6.558H14.218c-.932 0-1.692.801-1.692 1.791c0 .991.76 1.797 1.692 1.797h13.531c.933 0 1.693-.807 1.693-1.797c0-.989-.76-1.791-1.693-1.791z"/>  
          </svg>
        </a>
        <a aria-label="Kaggle" target="_blank" href="https://www.kaggle.com/Zerol0l">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kaggle/kaggle-original.svg" alt="Kaggle" width="28" height="28"/>
        </a>
        <a aria-label="HackerRank" target="_blank" href="https://www.hackerrank.com/Zerol0l" class="icon-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 32 32" fill="#ffffff">
            <path d="M50.5 64.1c0-3.3 2.7-6 6-6h34.3c3.3 0 6 2.7 6 6s-2.7 6-6 6H56.5c-3.3 0-6-2.7-6-6zM95.3 98.4c2.4 2.4 6.2 2.4 8.6 0s2.4-6.2 0-8.6L60.1 46.3c-2.4-2.4-6.2-2.4-8.6 0s-2.4 6.2 0 8.6l43.8 43.5zM51.5 79.2c-2.4 2.4-6.2 2.4-8.6 0L24 60.3c-2.4-2.4-2.4-6.2 0-8.6L42.9 33c2.4-2.4 6.2-2.4 8.6 0s2.4 6.2 0 8.6L35.7 56l15.8 15.8c2.4 2.4 2.4 6.3 0 8.6z"/>
          </svg>
        </a>
        
        
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
